name: Build and release packages

on:
    workflow_dispatch:
    push:
        # run only against tags
        tags:
            - "infisical/v*.*.*-postgres"

jobs:
    release-amd-debian-package:
        name: Build debian amd package
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout source
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Build the debian package
              run: make pkg-deb
            - name: Copy the pkg from source to local
              run: |
                  container_id=$(docker create infisical-omnibus-debian-builder)
                  docker cp "$container_id":/omnibus-project/pkg ./pkg
            - uses: actions/setup-python@v4
            - run: pip install --upgrade cloudsmith-cli
            - name: Publish to CloudSmith
              run: sh upload_to_cloudsmith.sh
              env:
                  CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

    release-amd-rpm-package:
        name: Build rpm amd package
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout source
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Build the rpm package
              run: make pkg-rpm
            - name: Copy the pkg from source to local
              run: |
                  container_id=$(docker create infisical-omnibus-rpm-builder)
                  docker cp "$container_id":/omnibus-project/pkg ./pkg
            - uses: actions/setup-python@v4
            - run: pip install --upgrade cloudsmith-cli
            - name: Publish to CloudSmith
              run: sh upload_to_cloudsmith.sh
              env:
                  CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
